@import '_variables';
@import '_resoluciones';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.row{
  &:before {
    content: " ";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}

[class*="small-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}
#titulo{
  background: $titulo-color;
  color: $letra-blanca;
  padding: 1%;
}
.aside, footer{
  background: $menu-color;
  color: $letra-blanca;
  padding: 3%;
  margin: 2% auto;
  text-align: $centrar-texto;
}

.menu{
  li{
    padding-left: 3%;
    @extend .aside;
    text-align:left;
    &:hover{
      background:$titulo-color;
    }
  }
}
#listaEstudiantes{
  padding-left: 5%;
}
